Repository valory-xyz/open-autonomy, pull requests merged in 2022-07, with the labels that each got.

#1039 Temporary workaround for non indexed block response from SpookySwap's subgraph
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/skills/abstract_round_abci/models.py
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/behaviours.py
  packages/valory/skills/apy_estimation_abci/models.py
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/tools/queries.py
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_skills/test_apy_estimation_abci/conftest.py
  tests/test_skills/test_apy_estimation_abci/test_apis.py
  tests/test_skills/test_apy_estimation_abci/test_behaviours.py
  tests/test_skills/test_apy_estimation_abci/tools/test_queries.py
Labels: enhancement, test

#1042 Hard reset safely
  deployments/Dockerfiles/localnode/app.py
  deployments/Dockerfiles/localnode/tendermint.py
  docs/api/connections/abci/connection.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/abstract_abci/aea-config.yaml
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/counter/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/connections/abci/connection.py
  packages/valory/connections/abci/connection.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/counter/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_abci/skill.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/counter/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_deployments/conftest.py
  tests/test_deployments/test_app.py
Labels: bug

#1050 feat: upated fonts and colors
  docs/fonts/Manrope/Manrope-Bold.ttf
  docs/fonts/Manrope/Manrope-ExtraBold.ttf
  docs/fonts/Manrope/Manrope-ExtraLight.ttf
  docs/fonts/Manrope/Manrope-Light.ttf
  docs/fonts/Manrope/Manrope-Medium.ttf
  docs/fonts/Manrope/Manrope-Regular.ttf
  docs/fonts/Manrope/Manrope-SemiBold.ttf
  docs/fonts/Manrope/stylesheet.css
  docs/fonts/Webfont/generator_config.txt
  docs/fonts/Webfont/stylesheet.css
  docs/fonts/Webfont/triakisfont-bold-webfont.woff
  docs/fonts/Webfont/triakisfont-bold-webfont.woff2
  docs/fonts/Webfont/triakisfont-heavy-webfont.woff
  docs/fonts/Webfont/triakisfont-heavy-webfont.woff2
  docs/fonts/Webfont/triakisfont-medium-webfont.woff
  docs/fonts/Webfont/triakisfont-medium-webfont.woff2
  docs/fonts/Webfont/triakisfont-regular-webfont.woff
  docs/fonts/Webfont/triakisfont-regular-webfont.woff2
  docs/stylesheets/extra.css
Labels: documentation

#1065 Add more logging
  packages/hashes.csv
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/contracts/gnosis_safe/contract.py
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/behaviours.py
  packages/valory/skills/transaction_settlement_abci/skill.yaml
Labels: refactor

#1069 Replace history duration
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/skills/apy_estimation_abci/behaviours.py
  packages/valory/skills/apy_estimation_abci/models.py
  packages/valory/skills/apy_estimation_abci/payloads.py
  packages/valory/skills/apy_estimation_abci/rounds.py
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/tools/general.py
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  tests/test_skills/test_apy_estimation_abci/conftest.py
  tests/test_skills/test_apy_estimation_abci/test_apis.py
  tests/test_skills/test_apy_estimation_abci/test_behaviours.py
  tests/test_skills/test_apy_estimation_abci/test_models.py
  tests/test_skills/test_apy_estimation_abci/test_payloads.py
  tests/test_skills/test_apy_estimation_abci/test_rounds.py
  tests/test_skills/test_apy_estimation_abci/tools/test_general.py
Labels: refactor

#1072 Update service registry
  docs/api/skills/registration_abci/behaviours.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/contracts/service_registry/build/ServiceRegistry.json
  packages/valory/contracts/service_registry/contract.py
  packages/valory/contracts/service_registry/contract.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/behaviours.py
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_agents/test_registration.py
  tests/test_contracts/test_service_registry/test_contract.py
  tests/test_skills/test_registration_abci/test_behaviours.py
Labels: enhancement, test

#1079 Address flakiness with repricing tests
  tests/test_skills/test_transaction_settlement_abci/test_failure_modes.py
Labels: test

#1068 Fix `verify_contract` method
  docs/api/skills/registration_abci/behaviours.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/contracts/service_registry/build/ServiceRegistry.json
  packages/valory/contracts/service_registry/contract.py
  packages/valory/contracts/service_registry/contract.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/behaviours.py
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_agents/test_registration.py
  tests/test_contracts/test_service_registry/test_contract.py
  tests/test_skills/test_registration_abci/test_behaviours.py
Labels: test

#1088 Registration skill should not be abstract for registration e2e tests
  tests/test_agents/test_registration.py
Labels: test

#1091 Set deadline for dict serializer hypothesis test
  tests/test_skills/test_abstract_round_abci/test_base.py
Labels: test

#1081 Docs/publishing
  docs/counter_example.md
  docs/images/create_component.svg
  docs/images/register_agent.svg
  docs/images/register_component.svg
  docs/images/register_instance.svg
  docs/images/register_service.svg
  docs/images/run_service.svg
  docs/package_publishing.md
  mkdocs.yml
  scripts/check_doc_ipfs_hashes.py
Labels: documentation

#1095 Generalize config for subgraphs
  docs/autonomy.md
  docs/counter_example.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/abstract_abci/aea-config.yaml
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/counter/aea-config.yaml
  packages/valory/agents/counter_client/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/connections/p2p_libp2p_client/connection.py
  packages/valory/connections/p2p_libp2p_client/connection.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/counter/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/apy_estimation_abci/behaviours.py
  packages/valory/skills/apy_estimation_abci/models.py
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/tools/queries.py
  packages/valory/skills/apy_estimation_chained_abci/models.py
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  setup.cfg
  tests/test_autonomy/test_cli/test_deploy/test_build/test_image.py
  tests/test_autonomy/test_cli/test_fetch.py
  tests/test_skills/test_apy_estimation_abci/conftest.py
  tests/test_skills/test_apy_estimation_abci/test_apis.py
  tests/test_skills/test_apy_estimation_abci/test_behaviours.py
  tests/test_skills/test_apy_estimation_abci/test_models.py
Labels: enhancement

#1109 Fix `get_transaction_receipt`'s logic error
  docs/autonomy.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/connections/ledger/connection.yaml
  packages/valory/connections/ledger/ledger_dispatcher.py
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_connections/test_ledger/test_ledger_api.py
Labels: test

#1102 Update fetch service test - Reintroduce #1078
  tests/test_autonomy/test_cli/test_fetch.py
Labels: test

#1119 Handle unused events
  autonomy/analyse/abci/app_spec.py
  docs/api/analyse/abci/app_spec.md
  docs/api/skills/price_estimation_abci/rounds.md
  docs/autonomy.md
  docs/price_oracle_fsms.md
  docs/quick_start.md
  docs/simple_abci.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_goerli/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/skills/apy_estimation_abci/behaviours.py
  packages/valory/skills/apy_estimation_abci/rounds.py
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/fsm_specification.yaml
  packages/valory/skills/hello_world_abci/rounds.py
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/rounds.py
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/fsm_specification.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/fsm_specification.yaml
  packages/valory/skills/price_estimation_abci/rounds.py
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/simple_abci/fsm_specification.yaml
  packages/valory/skills/simple_abci/rounds.py
  packages/valory/skills/simple_abci/skill.yaml
Labels: bug

#1120 test: replace check string
  tests/test_agents/test_registration.py
Labels: test

#1122 Increase `round_timeout_seconds` for the APY e2e tests
  .github/workflows/main_workflow.yml
  tests/test_agents/test_apy_estimation_abci.py
Labels: test

#1125 Test `verify_tx` contract call for reverted tx
  tests/test_contracts/test_gnosis_safe/test_contract.py
Labels: test

#1132 Handle already known
  docs/api/skills/abstract_round_abci/behaviour_utils.md
  docs/autonomy.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_goerli/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_round_abci/behaviour_utils.py
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/behaviours.py
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_skills/test_abstract_round_abci/test_behaviours_utils.py
  tests/test_skills/test_oracle_deployment_abci/test_behaviours.py
  tests/test_skills/test_transaction_settlement_abci/test_behaviours.py
Labels: enhancement

#1093 Remove protected access
  Pipfile
  autonomy/data/Dockerfiles/agent/Pipfile
  autonomy/data/Dockerfiles/skaffold.yaml
  deployments/Dockerfiles/open_aea/Pipfile
  docs/api/skills/abstract_round_abci/base.md
  docs/autonomy.md
  docs/quick_start.md
  packages/hashes.csv
  packages/valory/agents/apy_estimation/aea-config.yaml
  packages/valory/agents/apy_estimation_chained/aea-config.yaml
  packages/valory/agents/hello_world/aea-config.yaml
  packages/valory/agents/oracle/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/simple_abci/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/services/apy_estimation_hardhat/service.yaml
  packages/valory/services/hello_world/service.yaml
  packages/valory/services/oracle_goerli/service.yaml
  packages/valory/services/oracle_hardhat/service.yaml
  packages/valory/services/oracle_polygon/service.yaml
  packages/valory/services/oracle_ropsten/service.yaml
  packages/valory/services/oracle_ropsten_cluster/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_round_abci/abci_app_chain.py
  packages/valory/skills/abstract_round_abci/base.py
  packages/valory/skills/abstract_round_abci/models.py
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/apy_estimation_abci/skill.yaml
  packages/valory/skills/apy_estimation_chained_abci/skill.yaml
  packages/valory/skills/hello_world_abci/skill.yaml
  packages/valory/skills/liquidity_provision_abci/skill.yaml
  packages/valory/skills/liquidity_rebalancing_abci/skill.yaml
  packages/valory/skills/oracle_abci/skill.yaml
  packages/valory/skills/oracle_deployment_abci/skill.yaml
  packages/valory/skills/price_estimation_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/safe_deployment_abci/skill.yaml
  packages/valory/skills/simple_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  setup.cfg
  setup.py
  skaffold.yaml
  tests/helpers/base.py
  tests/test_skills/test_abstract_round_abci/test_base.py
  tox.ini
Labels: refactor
