Repository valory-xyz/open-autonomy, pull requests merged in 2025-02, with the labels that each got.

#2292 [v0.19.1]: Temporarily work around deploy build command issue
  autonomy/deploy/generators/docker_compose/base.py
Labels: bug

#2302 Release `v0.19.2`
  HISTORY.md
  autonomy/__version__.py
  autonomy/constants.py
  deployments/Dockerfiles/autonomy-user/requirements.txt
  docs/counter_example.md
  docs/guides/overview_of_the_development_process.md
  docs/package_list.md
  docs/upgrading.md
  packages/packages.json
  packages/valory/agents/abstract_abci/aea-config.yaml
  packages/valory/agents/counter/aea-config.yaml
  packages/valory/agents/offend_slash/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/register_reset_recovery/aea-config.yaml
  packages/valory/agents/register_termination/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/solana_transfer_agent/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/agents/test_ipfs/aea-config.yaml
  packages/valory/connections/abci/connection.yaml
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/contracts/gnosis_safe_proxy_factory/contract.yaml
  packages/valory/contracts/service_registry/contract.yaml
  packages/valory/services/counter/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_abci/skill.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/counter/skill.yaml
  packages/valory/skills/offend_abci/skill.yaml
  packages/valory/skills/offend_slash_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/register_reset_recovery_abci/skill.yaml
  packages/valory/skills/register_termination_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/slashing_abci/skill.yaml
  packages/valory/skills/squads_transaction_settlement_abci/skill.yaml
  packages/valory/skills/termination_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/test_ipfs_abci/skill.yaml
  packages/valory/skills/test_solana_tx_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  plugins/aea-test-autonomy/aea_test_autonomy/configurations.py
  plugins/aea-test-autonomy/setup.py
  tests/test_base.py
Labels: release

#2310 Fix the regressed packages' tests
  docs/package_list.md
  packages/packages.json
  packages/valory/agents/offend_slash/aea-config.yaml
  packages/valory/agents/register_termination/aea-config.yaml
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/contracts/gnosis_safe/tests/test_contract.py
  packages/valory/contracts/gnosis_safe_proxy_factory/contract.yaml
  packages/valory/contracts/gnosis_safe_proxy_factory/tests/test_contract.py
  packages/valory/contracts/multicall2/contract.yaml
  packages/valory/contracts/multicall2/tests/test_contract.py
  packages/valory/skills/offend_slash_abci/skill.yaml
  packages/valory/skills/register_termination_abci/skill.yaml
  packages/valory/skills/slashing_abci/skill.yaml
  packages/valory/skills/termination_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/test_deployments/test_deployments.py
Labels: test, open-autonomy

#2305 Fix `autonomy deploy build` command
  .github/workflows/main_workflow.yml
  autonomy/cli/helpers/deployment.py
  autonomy/deploy/base.py
  autonomy/deploy/generators/docker_compose/base.py
  docs/api/deploy/base.md
  docs/package_list.md
  packages/packages.json
  packages/valory/agents/offend_slash/aea-config.yaml
  packages/valory/agents/register_termination/aea-config.yaml
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/contracts/gnosis_safe/tests/test_contract.py
  packages/valory/contracts/gnosis_safe_proxy_factory/contract.yaml
  packages/valory/contracts/gnosis_safe_proxy_factory/tests/test_contract.py
  packages/valory/contracts/multicall2/contract.yaml
  packages/valory/contracts/multicall2/tests/test_contract.py
  packages/valory/skills/offend_slash_abci/skill.yaml
  packages/valory/skills/register_termination_abci/skill.yaml
  packages/valory/skills/slashing_abci/skill.yaml
  packages/valory/skills/termination_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/conftest.py
  tests/test_autonomy/test_cli/test_analyse/test_specs.py
  tests/test_autonomy/test_cli/test_deploy/test_build/test_deployment.py
  tests/test_autonomy/test_cli/test_fetch.py
  tests/test_autonomy/test_images/test_runtime.py
  tests/test_deployments/test_deployments.py
Labels: cli, open-autonomy, fix

#2304 Fix infinite loop in dev mode
  .github/workflows/main_workflow.yml
  autonomy/cli/deploy.py
  autonomy/cli/helpers/deployment.py
  autonomy/deploy/base.py
  autonomy/deploy/generators/docker_compose/base.py
  docs/api/deploy/base.md
  docs/package_list.md
  packages/packages.json
  packages/valory/agents/offend_slash/aea-config.yaml
  packages/valory/agents/register_termination/aea-config.yaml
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/contracts/gnosis_safe/tests/test_contract.py
  packages/valory/contracts/gnosis_safe_proxy_factory/contract.yaml
  packages/valory/contracts/gnosis_safe_proxy_factory/tests/test_contract.py
  packages/valory/contracts/multicall2/contract.yaml
  packages/valory/contracts/multicall2/tests/test_contract.py
  packages/valory/skills/offend_slash_abci/skill.yaml
  packages/valory/skills/register_termination_abci/skill.yaml
  packages/valory/skills/slashing_abci/skill.yaml
  packages/valory/skills/termination_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  tests/conftest.py
  tests/test_autonomy/test_cli/base.py
  tests/test_autonomy/test_cli/test_analyse/test_specs.py
  tests/test_autonomy/test_cli/test_deploy/test_build/test_deployment.py
  tests/test_autonomy/test_cli/test_fetch.py
  tests/test_autonomy/test_images/test_runtime.py
  tests/test_deployments/test_deployments.py
Labels: cli, open-autonomy, fix

#2311 Release `v0.19.4`
  .github/workflows/release.yml
  HISTORY.md
  autonomy/__version__.py
  autonomy/constants.py
  deployments/Dockerfiles/autonomy-user/requirements.txt
  docs/counter_example.md
  docs/guides/overview_of_the_development_process.md
  docs/package_list.md
  docs/upgrading.md
  packages/packages.json
  packages/valory/agents/abstract_abci/aea-config.yaml
  packages/valory/agents/counter/aea-config.yaml
  packages/valory/agents/offend_slash/aea-config.yaml
  packages/valory/agents/register_reset/aea-config.yaml
  packages/valory/agents/register_reset_recovery/aea-config.yaml
  packages/valory/agents/register_termination/aea-config.yaml
  packages/valory/agents/registration_start_up/aea-config.yaml
  packages/valory/agents/solana_transfer_agent/aea-config.yaml
  packages/valory/agents/test_abci/aea-config.yaml
  packages/valory/agents/test_ipfs/aea-config.yaml
  packages/valory/connections/abci/connection.yaml
  packages/valory/contracts/gnosis_safe/contract.yaml
  packages/valory/contracts/gnosis_safe_proxy_factory/contract.yaml
  packages/valory/contracts/service_registry/contract.yaml
  packages/valory/services/counter/service.yaml
  packages/valory/services/register_reset/service.yaml
  packages/valory/skills/abstract_abci/skill.yaml
  packages/valory/skills/abstract_round_abci/skill.yaml
  packages/valory/skills/counter/skill.yaml
  packages/valory/skills/offend_abci/skill.yaml
  packages/valory/skills/offend_slash_abci/skill.yaml
  packages/valory/skills/register_reset_abci/skill.yaml
  packages/valory/skills/register_reset_recovery_abci/skill.yaml
  packages/valory/skills/register_termination_abci/skill.yaml
  packages/valory/skills/registration_abci/skill.yaml
  packages/valory/skills/reset_pause_abci/skill.yaml
  packages/valory/skills/slashing_abci/skill.yaml
  packages/valory/skills/squads_transaction_settlement_abci/skill.yaml
  packages/valory/skills/termination_abci/skill.yaml
  packages/valory/skills/test_abci/skill.yaml
  packages/valory/skills/test_ipfs_abci/skill.yaml
  packages/valory/skills/test_solana_tx_abci/skill.yaml
  packages/valory/skills/transaction_settlement_abci/skill.yaml
  plugins/aea-test-autonomy/aea_test_autonomy/configurations.py
  plugins/aea-test-autonomy/setup.py
  tests/test_base.py
Labels: release
